body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-header h1{
    text-align: center;
    background-color: darkcyan;
    color: chartreuse;
    padding: 20px;
}

h1 {
    font-size: 28px;
}

.product-details {
    display: flex;
    margin: 20px;
    align-items: center;
}

.product-image {
    flex: 40%;
    text-align: center;
    margin-right: 20px;
}

.product-image img {
    width: 500px;
    height: 400px;
    border-radius: 10px;
}

.product-info {
    flex: 40%;
    padding: 20px;
}

.product-info-item {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
    font-size: 18px;
}

p {
    margin-top: 10px;
    font-size: 16px;
}
.buttons {
    text-align: center;
    margin-top: 20px;
}

.contact-button, .back-button {
    background-color: darkorange;
    color: #fff;
    border: none;
    padding: 15px 30px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover, .back-button:hover {
    background-color: #00ffcc;
}

.back-button {
    background-color: darkred;
}

.back-button:hover {
    background-color: #AA0000;
}
