body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.eventos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.evento {
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    padding: 10px;
    background: #f9f9f9;
}

.evento:hover {
    transform: scale(1.02);
}

.botonPdf {
    text-align: left;
    margin-top: 20px;
}

.imprimirPdf {
    background-color: darkorange;
    color: #fff;
    border: none;
    padding: 15px 30px;
    margin-left: 50px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.imprimirPdf:hover {
    background-color: #8B4000;
}

.imagen-evento {
    width: 30%;
    float: left;
}

.imagen-evento img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.informacion-evento {
    width: 70%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.informacion-evento h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}

.informacion-evento p {
    font-size: 16px;
    color: #666;
    line-height: 1.4;
}

h1 {
    color: turquoise;
    font-size: 30px;
    margin: 20px 0;
    position: relative;
    margin-bottom: 45px;
}

h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: turquoise;
    position: absolute;
    top: 45px;
}
.menu-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto 0;
    max-width: 80%;
}

.menu-container h2 {
    margin: 0;
    color: #fff;
    font-weight: bold;
    background-color: blue;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 12px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}


.menu li {
    display: inline;
    margin-right: -4px;
    padding: 0;

}


.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 12px 90px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
    background-color: #0056b3;
}

.menu-link.gestion-evento {
    background-color: #28a745;
}

.menu-link.reservar-eventos {
    background-color: darkcyan;
}

.menu-link.mis-eventos {
    background-color: crimson;
}
.menu-link.gestion-evento:hover {
    background-color: #0a7228;
}

.menu-link.reservar-eventos:hover {
    background-color: #0b6e7d;
}

.menu-link.mis-eventos:hover {
    background-color: #9c0f0f;
}

.menu2 {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 24px;
    padding: 0;
}

.menu2 li {
    display: inline;
    margin-right: 30px;
    margin: 0;
    padding: 0;
}


.menu2 a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 12px 100px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;

}

.menu2 a:hover {
    background-color: #0056b3;
}

.menu2-link.activos {
    background-color: chocolate;
}

.menu2-link.reservados {
    background-color: darkgoldenrod;
}

.menu2-link.finalizados {
    background-color: maroon;
}

.menu2-link.activos:hover {
    background-color: orange;
}

.menu2-link.reservados:hover {
    background-color: goldenrod;
}

.menu2-link.finalizados:hover {
    background-color: #AA0000;
}
.menu-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto 40px;
    max-width: 80%;
}

.menu-container2 h2 {
    margin: 0;
    color: #fff;
    font-weight: bold;
    background-color: limegreen;
    padding: 10px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: -10px;
}
.volver-atras {
    background-color: lightseagreen;
    color: #e0e0e0;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 76.5%;
    margin-bottom: 20px;
}

.volver-atras:hover {
    background-color: darkgreen;
}
