<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>PremiumServlet</servlet-name>
        <servlet-class>com.example.web.servlet.PremiumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicacionServlet</servlet-name>
        <servlet-class>com.example.web.servlet.PublicacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prueba</servlet-name>
        <servlet-class>com.example.test.prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TiendaServlet</servlet-name>
        <servlet-class>com.example.web.servlet.TiendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallesTiendaServlet</servlet-name>
        <servlet-class>com.example.web.servlet.DetallesTiendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactoServlet</servlet-name>
        <servlet-class>com.example.web.servlet.ContactoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComentarioServlet</servlet-name>
        <servlet-class>com.example.web.servlet.ComentarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventoServlet</servlet-name>
        <url-pattern>/EventoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PremiumServlet</servlet-name>
        <url-pattern>/PremiumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicacionServlet</servlet-name>
        <url-pattern>/Publicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prueba</servlet-name>
        <url-pattern>/prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TiendaServlet</servlet-name>
        <url-pattern>/Tienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesTiendaServlet</servlet-name>
        <url-pattern>/Detalles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactoServlet</servlet-name>
        <url-pattern>/ContactoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComentarioServlet</servlet-name>
        <url-pattern>/ComentarioServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EventoServlet</servlet-name>
        <servlet-class>com.example.web.servlet.EventoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>